<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telemetry Client</title>
  <link rel="stylesheet" href="client.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <h2>Telemetry Server 2022 Test Client</h2>
  <div class="section">
    <button onclick="Command('StartServer')">Start Server</button>
    <p>* This adds a room and starts its simulation.<p>
  </div>
  <h3>Current Server SimulationState Dump:</h3>
  <pre class="outputText"><code id="simulationstepText"></code></pre>

  <script>
    var serverUrl = "<%= serverUrl %>";
    var simulationStepUrl = serverUrl + "/api/simulationstate";
    var interval = <%= interval %>;

    setInterval(PollSimulationStep, interval);

    function PollSimulationStep(){
      $.getJSON(simulationStepUrl, function(data) {
        $("#simulationstepText").text(JSON.stringify(data, null, 2));
      });
    }

    function Command(command){
      $.ajax({
        url: "/command",
        contentType : "application/json",
        method: "POST",
        data: JSON.stringify({ command: command }),
      });
    }
  </script>
</body>
</html>